.page__products {
}
.products {
   padding-bottom: 44px;
}
.products__container {
}




._title {
   font-size: 40px;
   font-weight: 700;
   line-height: 120%;
   text-align: center;
}
// ===сетка товаров
.products__title {
  margin-bottom: 32px/40px * 1em;
}
.products__items {
   display: grid;
   gap: 32px;
   grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
}
// ===/сетка товаров

.products__item {
}
.item-product {
   background: #f4f5f7;
   display: flex;
   flex-direction: column;
   position: relative;
   @media (any-hover: hover) {
      &:hover{
         .item-product__actions{
            opacity: 1;
            visibility: visible; 
         }
      }
   }
   
}
.item-product__labels {
   position: absolute;
   z-index: 2;
   display: flex;
   flex-direction: column;
   right: 3%;
   top: 2%;
}
.item-product__label {
   flex: 0 0 48px;
   width: 48px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-weight: 500;
   &:not(:last-child){
      margin-bottom: 10px;
   }
}
.product-sale {
   background: #e97171;
}
.product-new{
   background: #2ec1ac;
}
.item-product__image {
   padding-bottom:  301px/285px *100%;
}
.item-product__body {
   flex: 1 1 auto;
   padding: 16px 16px 30px 16px;
   display: flex;
   flex-direction: column;
}
.item-product__content {
   flex: 1 1 auto;

}
.item-product__title {
   font-size: 24px;
   font-weight: 600;
   line-height: 120%;
   margin-bottom: 8px/24px*1em;
}
.item-product__text {
   color: $grayColor;
   line-height: 150%;
   margin-bottom: 8px/24px*1em;

}
.item-product__prices {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   line-height: 150%;
}
.item-product__price {
   font-size: 20px;
   font-weight: 600;
}
.old-price {
   font-size: 16px;
   font-weight: normal;
   margin-left: 16px;
   color: #b0b0b0;
   text-decoration: line-through;
}

.item-product__actions {
   padding: 0 41px;
   @media (any-hover: none) {
      padding-top: 16px;
   }
   
   @media (any-hover: hover) {
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(58, 58, 58, 0.74);
      z-index: 3;
   }
   
}

.actions-product__body {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

}
.actions-product__button {
   flex: 1 1 100%;
   &:not(:last-child){
      margin-bottom: 24px;
   }
   &._hold {
      opacity: 0.2;
      cursor: default;
   }
}

.actions-product__link {
   display: flex;
   align-items: center;
   color: inherit;
   font-weight: 600;
   transition: all 0.3s ease 0s;
   &::before{
      margin-right: 10px;
      font-size: 16px;
   }
   @media (any-hover: hover) {
      color: #fff;
      &:hover{
         color: $orangeColor;
      }
   }
   
}
.products__footer {
   padding-top: 32px;
   text-align: center;
}
.products__more {
   border: 1px solid $orangeColor;
   min-width: 245px;
   &._hold {
      opacity: 0.2;
      cursor: default;
   }
}

._flyImage.ibg{
   opacity: 1;
   position: fixed;
   z-index: 100;
   transition: all 1s ease 0s;
}