//<обнуление>=============================
@import "nullstile";
//</обнуление>=============================

//<подключение шрифтов>=================================
@import "fonts";
//</подключение шрифтов>=================================

//<иконочные шрифты>=================================
@import "icons";
//</иконочные шрифты>=================================

//<Шрифт по умолчанию>=================================
$fontFamily: "Gilroy";
$fontSize: 16px;
//</Шрифт по умолчанию>=================================

//<переменые>=================================
$mainColor: #3A3A3A;
$maxWidth: 1440px;
$maxWidthContainer: 1270px;
$md1: $maxWidthContainer + 12px;
$md2: 992px;
$md3: 768px;
$md4: 480px;
$md5: 320px;


$orangeColor: #E89F71;
$orangeColorHover: #ec8646;
$grayColor: #898989;
$darkGrayColor: #616161;


//<переменые>=================================

.ibg{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   }
   
   .ibg img{   
   width: 0;
   height: 0;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
   }

//<button>====================================
.btn{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 0px 15px;
   text-align: center;
   transition: all 0.3s ease 0s;
   min-height: 48px;
   &__white{
      color: $orangeColor;
      background: #fff;
      @media (any-hover: hover) {
         &:hover{
            background-color: $orangeColor;
            color: #fff;
         }
      }
      
   }
}
//</button>===================================

body {
   font-family: $fontFamily;
   font-size: $fontSize;
   color: $mainColor;
   position: relative;
}
body._lock {
   overflow: hidden;
}

.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   position: relative;
   margin: 0 auto;
}
.page {
   flex: 1 1 auto;
}
.container {
   max-width: $maxWidthContainer;
   padding: 0 15px;
   margin: 0 auto;
}



@import "header";

@import "main/main-slider"; // section page__main-slider
@import "main/advantages"; // section page__advantages
@import "main/products"; // section page__products

@import "footer";



